*.log
*.pot
*.pyc
docker-compose.yml
local_settings.py
local_templates/
aplus/local_settings.py
aplus/secret_key.py
.svn
.DS_Store
*.mo
__pycache__/
.pytest_cache/

.idea
.settings
.project
.pydevproject
*.sublime-project
*.sublime-workspace

venv/
.venv/
/static/
/media/

/assets/sass/vendor/
/node_cache/
node_modules/

test.db
aplus.db
aplus.db.*
aplus.db_copy

dump.json
*.orig

test_results/
/blob-report/

selenium_test/aplus.out
selenium_test/example_grader.out
selenium_test/server.ports
selenium_test/grader/db.sqlite3

*~
*.swp
*.swo
